@charset "UTF-8";

body {
	background-color: #001a33;
	color: #FFFFFF;
	font-family: "Lucida Console";
}

section {
	height: 600px;
	border-bottom-color: #00ff80;
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

h1 {
	position: absolute;
	left: 50px;
	top: 350px;
	font-size: 70px;
}

h2 {
	position: absolute;
	left: 50px;
	top: 500px;
	font-size: 40px;
}

h3 {
	text-align: center;
	font-size: 40px;
	height: 10%;
	margin: 10px;
}

p {
	font-size: 20px;
}

#topMenu {
	background-color: #003366;
	position: fixed;
	width: 100%;
	top: -200px;
	left: 0px;
	z-index: 1;
}

#topMenu > div > button {
	background-color: #003366;
	width: 100%;
	height: 100%;
	font-family: 'Lucida Console';
	font-size: 20px;
	color: #ffffff;
	border-style: none;
	text-align: left;
	padding-left: 15px;
}

#topMenu > div > button:hover {
	background-color: #004d99;
}

#homeButton {
	position: relative;
	left: 10px;
}

#menuButton {
	position: absolute;
	right: 10px;
}

#topMenu > div {
	height: 50px;
	background-color: #003366;
}

#home {
	height: 1300px;
}

#bio {
	width: 47.5%;
}

.imgBox {
	width: 47.5%;
	height: 90%;
	float: right;
	position: relative;
}

#backdrop {
	position: relative;
	width: 80%;
	height: 80%;
	background-color: #00ff80;
	opacity: 50%;
	bottom: 70%;
	left: 10%;
	z-index: -1;
}

.project {
	width: 100%;
	height: 33.333333333%;
	background-color: #001a33;
	color: #ffffff;
	font-family: 'Lucida Console';
	border-style: none;
}

.project:hover {
	background-color: #003366;
}

#projectContent {
	width: 100%;
}

.toolbox {
	width: 100%;
	height: 20%;
	background-color: #001a33;
	color: #ffffff;
	font-family: 'Lucida Console';
	border-style: none;
}

.toolbox:hover {
	background-color: #003366;
}

.tabBar {
	width: 20%;
	height: 90%;
	float: left;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #ffffff;
}

.contentWindow {
	width: 100%;
	height: 90%;
}

#contactMe {
	height: 300px;
	border-bottom-style: none;
}

#contactMe > p {
	text-align: center;
}